$primaryColor: #149eca;
$importantElt : #3B3B3B;
$backgroundColorElt : #1a1a1a;
$linkColor: #646cff;
$linkHoverColor: #535bf2;
$backgroundColor: #242424;
$lightTextColor: rgba(255, 255, 255, 0.87);
$fontFamily: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$fontSizeBase: 1.6rem;

// buttons :
$dangerColor : #dc143c;
$updateColor: #ff4500;